.contacts {
  &__item {
    color: $textColor;
    line-height: calc((24 / 16) * 100%);
    letter-spacing: 0.1px;
    transition: all 0.3s ease;
    &:hover {
      color: $pinkColor;
    }
  }
}

.social {
  display: flex;
  gap: 15px;

  &__item {
    position: relative;
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.15);
    }
  }
}

.search {
  position: relative;

  &__input {
    min-height: 40px;
    background: inherit;
    background-color: #e6e6e6;
    color: #737373;
    padding: 0px 20px;
    box-sizing: border-box;
    border: 1px solid #e6e6e6;
    border-right: 0;
    border-radius: 5px 0px 0px 5px;
  }

  &__logo {
    cursor: pointer;
    position: absolute;
    z-index: 2;
    top: 25%;
    left: 0;
    background: none;
    border: none;
  }
}

.menu {
  &__list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  &__link {
    position: relative;
    color: $textColor;
    line-height: calc((24 / 16) * 100%);
    letter-spacing: 0.1px;
    transition: all 0.3s ease;
    &:hover {
      color: $blueColor;
    }
  }
  @include underline("&__link", $blueColor);
}
