body {
  background: rgb(167, 250, 255);
  background: linear-gradient(
    50deg,
    rgba(167, 250, 255, 1) 0%,
    rgba(198, 245, 255, 1) 25%,
    rgba(252, 238, 255, 1) 70%,
    rgba(254, 221, 255, 1) 100%
  );
  background-attachment: fixed;
  position: relative;

  &.lock {
    overflow: hidden;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  position: relative;
  width: 100%;
  z-index: 10;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    background-color: rgba(250, 250, 250, 0.5);
  }

  &__functions {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;

    @include _480 {
      flex-direction: column-reverse;
      gap: 10px;
    }
  }

  &__container {
    padding: 15px 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include _992 {
      flex-direction: column-reverse;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include _768 {
      flex-direction: column-reverse;
      align-items: stretch;
      gap: 10px;
    }

    &-search {
      display: none;

      @include _768 {
        display: flex;
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-search {
      @include _992 {
        flex: 0 1 33.333%;
        justify-content: flex-end;
      }

      @include _768 {
        display: none;
      }
    }
  }

  &__contacts {
    display: flex;
    align-items: center;
    gap: 35px;

    @include _768 {
      padding: 0px 15px;
      justify-content: space-between;
    }

    @include _480 {
      flex-direction: column;
      gap: 10px;
    }
  }

  &__social {
    display: flex;
    gap: 20px;

    @include _992 {
      display: none;
    }
  }

  &__logo {
    display: flex;

    @include _992 {
      flex: 0 1 33.333%;
    }

    img {
      width: 200px;

      @include _480 {
        width: 175px;
      }
    }
  }

  &__menu {
    @include _992 {
      padding: 70px 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 25px;
    }
  }

  &__burger {
    display: none;

    @include _992 {
      display: flex;
      flex: 0 1 33.333%;
      justify-content: flex-end;
    }
    @include _768 {
      flex: none;
    }
  }
}

.main {
  z-index: 0;
  flex: 1 1 auto;
}
.getintouch {
  &__container {
    padding: 0px 10px;
    display: grid;
    grid-template: repeat(2, minmax(min-content, max-content)) / repeat(2, 1fr);
    grid-template-areas:
      "title title"
      "contacts form";
    row-gap: 30px;
  }

  &__title {
    grid-area: title;
  }

  &__items {
    grid-area: contacts;

    *:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__item {
    display: block;
    max-width: fit-content;
    padding-left: 40px;
    line-height: calc((24 / 16) * 100%);

    &--phone {
      background: url(../img/getintouch/phone.svg) 0 0 no-repeat;
    }

    &--email {
      background: url(../img/getintouch/email.svg) 0 0 no-repeat;
    }

    &--adress {
      background: url(../img/getintouch/adress.svg) 0 0 no-repeat;
    }
  }

  &__map {
    max-width: 85%;
  }

  &__form {
    grid-area: form;
    display: flex;
    flex-direction: column;
    @include _1100 {
      width: 94%;
      padding-left: 3%;
      margin-left: 3%;
      margin-right: 3%;
      height: 70px;
      padding-top: 30px;
      margin-bottom: 10%;
    }
    @include _768 {
      font-size: 1.3em;
    }
    @include _568 {
      font-size: 1.2em;
      height: 150px;
    }
  }
}
.about-aparatus__infoAparatus {
  float: right;
  width: 50%;
  height: 250px;
  border-radius: 10px;
  margin-top: 40px;
  padding-top: 50px;
  font-size: 1.4em;
  line-height: 30px;
  padding-left: 50px;
  @include _1100 {
    width: 94%;
    padding-left: 3%;
    margin-left: 3%;
    margin-right: 3%;
    height: 70px;
    padding-top: 30px;
    margin-bottom: 10%;
  }
  @include _768 {
    font-size: 1.3em;
  }
  @include _568 {
    font-size: 1.2em;
    height: 150px;
  }
}
.aparatus__definition {
  border-radius: 10px;
  height: 300px;
  margin-left: 3%;
  margin-right: 3%;
  transition: all 0.3s ease;
}
.definition__item {
  font-size: 1.3em;
  background-color: $mainColor;
  border-radius: 10px;
  opacity: 0;
  height: 70px;
  color: #fafafa;
  margin-bottom: 10px;
  padding: 15px;
  transform: translateY(50px);
  transition: opacity 0.3s ease, transform 0.3s;

  @include _1100 {
    font-size: 1.1em;
    height: 80px;
  }
  @include _568 {
    height: 100px;
    font-size: 1em;
  }
}
.definition__item.animation-class {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s;
}
.aparatus__advantages {
  height: 800px;

  @include _1100 {
    height: 900px;
  }
}
.advantage__item {
  margin-left: 3%;
  top: 10px;
  left: 10px;
  padding: 5px;
  position: relative;
  width: 45%;
  height: 150px;
  background-color: $mainColor;
  transition: all 0.3s ease;
  border-radius: 10px;
  text-align: left;
  font-size: 1.3em;

  padding: 2%;

  color: #fafafa;
  &:hover {
    top: 20px;
    left: 20px;
    background-color: $secondaryColor;
  }

  &::before {
    position: absolute;
    content: "";

    width: 100%;
    height: 150px;
    top: -10px;
    left: -10px;
    background-color: $secondaryColor;
    z-index: -1;
    transition: all 0.3s ease;
    border-radius: 10px;
  }
  &:hover::before {
    top: -20px;
    left: -20px;
    background-color: $mainColor;
  }
  @include _1100 {
    margin-bottom: 30px;
    font-size: 1.2em;
  }
  @include _768 {
    width: 60%;
  }
  @include _568 {
    height: 200;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 30px;
    line-height: 0.9em;
    left: 0;

    &::before {
      left: 0;
    }
    &:hover {
      top: 20px;
      left: 0px;
    }
    &:hover::before {
      top: -20px;
      left: 0px;
    }
  }
}
.advantage__item:nth-child(2n) {
  margin-right: 3%;
  margin-left: auto;
  top: 10px;
  left: -10px;

  &::before {
    top: -10px;
    left: 10px;
  }
  &:hover {
    top: 20px;
    left: -20px;
  }
  &:hover::before {
    top: -20px;
    left: 20px;
  }
  @include _568 {
    height: 200;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 30px;
    left: 0;

    &::before {
      left: 0;
    }
    &:hover {
      top: 20px;
      left: 0px;
    }
    &:hover::before {
      top: -20px;
      left: 0px;
    }
  }
}
.aparatus__where-to-use li {
  padding: 5px 10px 0 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  height: 50px;
  border-left: 20px solid rgba($color: $mainColor, $alpha: 1);
  border-right: 0px solid #fafafa;
  font-size: 1.3em;
  transition: all 0.3s ease;
  margin-left: 3%;
  margin-right: 3%;
  vertical-align: middle;

  @include _568 {
    font-size: 1.1em;
    margin-left: 5%;
    border-left: 15px solid rgba($color: $mainColor, $alpha: 1);
  }
  @include _480 {
    font-size: 1.05em;
  }
}

.aparatus__where-to-use li:nth-child(1n) {
  border-color: $mainColor;
}
.aparatus__where-to-use li:nth-child(1n):hover {
  border-right: 150px solid rgba($color: $secondaryColor, $alpha: 1);
  border-left: 0px solid #fafafa;
  @include _568 {
    border-right: 15px solid rgba($color: $secondaryColor, $alpha: 1);
    border-left: 0px solid #fafafa;
  }
}
.aparatus__where-to-use li:nth-child(2n) {
  border-color: $secondaryColor;
}
.aparatus__where-to-use li:nth-child(2n):hover {
  border-left: 0px solid #fafafa;
  border-right: 150px solid rgba($color: $mainColor, $alpha: 1);
  @include _568 {
    border-left: 0px solid #fafafa;
    border-right: 15px solid rgba($color: $mainColor, $alpha: 1);
  }
}
.aparatus__title {
  clear: right;
  color: $secondaryColor;
  font-size: 2.5em;
  text-align: center;
  min-height: 100px;
  margin: 70px 3% 0px 3%;

  @include _1100 {
    font-size: 2.3em;
  }

  @include _568 {
    font-size: 2em;
  }

  @include _480 {
    font-size: 1.8em;
  }
}
.aparatus__about {
  height: 400px;
}
.about-aparatus__image {
  float: left;
  width: 50%;

  @include _1100 {
    width: 100%;
  }
}
.aparatus_recomendations {
  height: 200px;
  background-color: rgba($color: $textColor, $alpha: 0.2);
  border-radius: 10px;
  transition: all 0.5s ease;
  margin-bottom: 30px;
  margin-left: 3%;
  margin-right: 3%;
  font-size: 1em;

  &:hover {
    height: 440px;

    @include _768 {
      height: 500px;
    }
    @include _568 {
      height: 530px;
    }
    @include _480 {
      height: 570px;
    }
  }
}
.recomendations__title {
  margin-top: 100px;
  padding: 5px;
  color: $secondaryColor;
  font-size: 2.5em;
  position: relative;
  text-align: center;
  margin-left: 3%;
  margin-right: 3%;

  &::after {
    transition: all 0.5s ease;
    top: 30%;
    right: 10px;
    position: absolute;
    content: "";
    margin-left: auto;
    border: 10px solid transparent;
    border-top-color: $textColor;
  }

  @include _1100 {
    font-size: 2.3em;
  }

  @include _568 {
    font-size: 2em;
  }

  @include _480 {
    font-size: 1.8em;
  }
}
.recomendations__wrapper {
  margin-top: 40px;
  text-align: left;
  top: 0;
  left: 0;
}
.aparatus_recomendations:hover .recomendations__title::after {
  transform: rotate(-90deg);
}
.aparatus_recomendations:hover .list-recomendations_item {
  transition: all 0.5s ease;
  animation: item_animation 0.5s 1;
  opacity: 1;
}
.list-recomendations_item {
  transition: all 0.5s ease;
  line-height: 30px;
  margin-left: 10px;
  opacity: 0;
  animation: item1_animation 0.5s 1;
  margin-bottom: 20px;

  @include _1100 {
    font-size: 0.9em;
  }

  @include _768 {
    line-height: 20px;
    font-size: 0.8em;
    margin-bottom: 30px;
  }

  @include _568 {
    line-height: 20px;
    font-size: 0.8em;
    margin-bottom: 30px;
  }
}
.aparatus_recomendations:hover .list-recomendations_item:nth-child(1) {
  color: $textColor;

  &::after {
    display: none;
  }
}
.list-recomendations_item:nth-child(1) {
  opacity: 1;
  color: darkgrey;

  &::after {
    font-size: 1.5em;
    display: block;
    color: $textColor;
    content: "...";
  }
}
@keyframes item_animation {
  0% {
    margin-bottom: -40px;
  }
  100% {
    margin-bottom: 20px;
  }
}
@keyframes item1_animation {
  0% {
    margin-bottom: 20px;
  }
  100% {
    margin-bottom: -40px;
  }
}

.about__container{
  height: 350px;
}

.about__aboutText{
  float: left;
  margin: 20px;
  margin-top: 40px;
  width: 800px;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
  color: $mainColor;
  letter-spacing: 0.2px;
  background: none;
  border: 5px solid $mainColor;
  border-radius: 30px;
  transition: all 0.3s ease;
}

.aboutText__title{
  font-size: 24px;
  margin: 30px;
}

.aboutText__container{
  margin-bottom: -5px;
  margin-left: -5px;
  width: 800px;
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
  padding: 10px 20px;
  color: #fff;
  letter-spacing: 0.2px;
  background: $secondaryColor;
  border: 6px solid $secondaryColor;
  border-radius: 30px;
  transition: all 0.3s ease;
}

.aboutText__info{
  font-size: 16px;
  margin: 10px;
}

.image3D__image{
  float: left;
  margin: 30px;
  width: 25%;
  height: 25%;
}

.method__container{
  margin-top: -90px;
  height: 600px;
}

.methodImageRight__image{
  color: $mainColor;
  float: left;
  margin: 30px;
  width: 7%;
  height: 7%;
}

.methodImageLeft__image{
  color: $secondaryColor;
  float: right;
  margin: 30px;
  width: 7%;
  height: 7%;
}
.bold{
  font-weight: bold;
  color: white;
  background-color: rgba($color: $secondaryColor, $alpha: 1.0);
  font-size: x-large;
  @include _568{
      text-align: right;
    }
}
.tablecontainer__table{
 font-family: sans-serif;
 font-size: 1.1em;
 border-collapse: collapse;
 width: 100%;
 line-height: 1.2;
 @include _1100{
  margin-left: 3%;
  padding-right: 3%; 
  width: 94%;
  }
  @include _568{
    font-size: 0.8em;
  }
}
.table__rightside{
  text-align: center;
  padding: 5px;
  color: black;
  background: rgba($color: $mainColor, $alpha: 0.3);
}
th, td:first-child{
  background: rgba($color: $mainColor, $alpha: 0.8);
  color: #fafafa;
  padding: 10px 20px;
}
th, td{
  border-style: solid;
  border-width: 0 6px 6px 0;
  border-color: #fafafa;
}
td{
  background: rgba($color: $mainColor, $alpha: 0.3);
}
td:first-child, th:first-child{
  text-align: left;
}
.tablecontainer__table tr{
  transition: all .2s;
}
.tablecontainer__table tr:hover{
  box-shadow: 0 5px 15px rgba($color: $mainColor, $alpha: 1.0);
  height: 45px;
  line-height: 45px;
  font-size: 1.11em;
}
.table__parameters-left{
width: 20%;
display: inline-block;
@include _1100{
  width: 100%;
}
}
.table__parameters-right{
  float: right;
  width: 80%;
  @include _1100{
    width: 100%;
  }
}
.table__parameters_one{
  float: left;
  width: 20%;
  display: inline-block;
  @include _1100{
    width: 100%;
  }
}
.table__parameters-two{
  float: right;
  width: 80%;
  @include _1100{
    width: 100%;
  }
}
.aparatus__container-unique{
  padding: 15px;
}
.aparatus__container-title{
  cursor: pointer;
  text-decoration: none;
  color: $secondaryColor;
  font-size: 1.9em;
  font-weight: 600;
  text-align: center;
  min-height: 50px;
  margin: 70px 3% 0px 3%;
  position: relative;
  @include _1100{
    font-size: 1.9em;
    font-weight: 600;
  }
  @include  _768{
    font-size: 1.6;
  }
  @include _568{
    font-size: 1.45em;
    font-weight: 700;
  }

  @include _480{
    font-size: 1.3em;
  }
}
.aparatus__container-title:hover{
  color: $secondaryColor;
}
.aparatus__container-title:hover:before{
  width: 100%;
  transform: scale(1);
  @include _1100{
    display: none;
  }
}
.aparatus__container-title:before{
  content: '';
  width: 100%;
  height: 3px;
  background-color: $secondaryColor;
  position: absolute;
  left: 0px;
  bottom: 8px;
  transform: scale(0);
  transition: all .3s;
  @include _1100{
    display: none;
  }
}
.aparatus__unique-left{
  width: 32%;
  float: left;
  padding-right: 30px;
  margin-left: auto;
  @include _1100{
    width: 100%;
    clear: left;
    text-align: left;
    padding-right: 0px;
  }
}
.aparatus__unique-center{
display: inline-block;
padding-top: 15px;
@include _1100{
  display: none;
}
}
.aparatus__unique-right{
  float: right;
  width: 32%;
  margin-left: auto;
  @include _1100{
    width: 100%;
    clear: right;
    text-align: left;
  }
}
.unique-center__photo{
  max-width: 100%;
  width: 370px;
  height: 775px;
  @include _1100{
    display: none;
  }
}
.aparatus__circle{
  transition: all .2s;
  height: 50px;
  width: 50px;
  background-color: rgba($color: $mainColor, $alpha: 1.0);
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  padding: 11px;
  color: white;
  font-size: 1.5em;
  margin: 5px;
  font-weight: 900;
  @include _768{
    height: 40px;
    width: 40px;
    font-size: 1.2em;
    padding: 9px;
  }
  @include _480{
    font-size: 1.1em;
    height: 32px;
    width: 32px;
    padding: 6px;
    font-weight: 600;
    margin: 3px;
  }
}
.aparatus__circle:hover{
  background-color: $secondaryColor;
  box-shadow: 0 5px 15px rgba($color: $secondaryColor, $alpha: 1.0);
}
  .aparatus__circle--pink {
    transition: all .3s;
    background-color: rgba($color: $secondaryColor, $alpha: 1.0);
  }
  .aparatus__circle--pink:hover{
    background-color: $mainColor;
    box-shadow: 0 5px 15px rgba($color: $mainColor, $alpha: 1.0);
  }
.aparatus__container-left-text{
  font-size: 1.1em;
  padding: 10px;
  text-align: left;
  @include _1100{
    padding: 15px;
  }
}
.aparatus__container-right-text{
  font-size: 1.1em;
  padding: 35px;
  text-align: left;
  @include _1100{
    padding: 15px;
  }
}
.bold-text{
font-weight: 600;
@include _480{
  font-weight: 500;
}
}
.aparatus_paragraph{
  @include _1100{
    margin-left: 35px;
  }
}